@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Cinzel:400,700,900);

body {
	color: #000; 
	font-family: "Montserrat", serif;
	font-size: 16px;
}

header {
    background-color: #FFED74;
    border: 1px black solid;
}

section {
	width: 100%;
	background-color: #E89C6C;
}

div {
	width: 100%;
	margin: auto;
}

figure {
	float: left;
	margin: 1%;
	width: 31%;
}

figcaption {
	text-align: center;
	padding: 2px;
	font-family: "Cinzel", Georgia, serif;
	font-size: 1.5em;
}

img {
	width: 100%;
	max-width: 300px;
}

footer {
    background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
}

img {
	width:100%;
}

li img {
	width:12px;
}

h1 {
	font-size: 3em;
	font-family: "Cinzel", Georgia, serif;
	font-weight: 700;
	text-align: center;
	padding: 20px;
}

h2 {
	font-size: 2em;
	font-family: "Montserrat", serif;
	text-align: left;
	padding: 10px;
}

p {
	padding: 10px;
}

a {
	color: #000;
	text-decoration: none 
}

a:hover {
	color: #FF69B4;
	text-transform: uppercase;
}

.navlinks {
	font-family: "Montserrat", serif;
	text-decoration: none;
	color: #000;
	text-transform: uppercase;
}

.navigation-bar {
    width: 100%;
    height: 100%;
    background-color: #E8C66A;
}

.logo {
    display: inline-block;
    vertical-align: top;
    width: 150px;
	padding: 10px;
}

.navigation-bar > a {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
	line-height: 60px;
    float: right;
    padding: 5px;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

#hero {
	background-color: #FFE2B8;
    border: 1px black solid;
}

#destinations {
	background-color: #E89C6C;
    border: 1px black solid;
}

#bucketlist {
	background-color: #FFE2B8;
    border: 1px black solid;
}

#about {
	background-color: #FFE2B8;
    border: 1px black solid;
}

iframe {
	height: 92%;
	width: 92%;
	margin: 2%;
	vertical-align: center;
}

#two_column {
    background-color: #FFB7CF;
    border: 1px black solid;
    width: 100%;
}

#left {
    background-color: #E582A2;
    border: 1px black solid;
	float: left;
    width: 60%;
    height: 400px;
    margin: 20px;
}

#right {
    background-color: #E55B88;
    border: 1px black solid;
    float: right;
    width: 30%;
 	margin: 20px;

}
