@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,600);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,600,700);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,900,700);

body {
	color: #323535;
	font-family: "Raleway", serif;
	font-size: 20px;
	background-color: #E5FFFA;
	margin: 0px 0px;
}

section {
	width: 100%;
	background-color: #E5FFFA;
	/*border: 1px solid red;*/ /*cancel if testing*/
}

h1 {
	padding: .5em;
	text-align: center;
	font-family: "Playfair Display", serif;
	color: #fff;
	font-weight: 900;
/*	border: 1px solid red;
*/}

h2 {
	font-size: 2em;
	font-family: "Playfair Display", serif;
	font-weight: 700;
	text-align: left;
	padding: .5em;
	margin: .5em 0 0;
/*	border-bottom: 3px solid #323535;
*/}

p {
	padding: .5em;
	font-family: "Raleway", serif;
	color: #323535;
}

a {
	color: #323535;
	text-decoration: none 
}

a:hover {
	color: #5386E4;
	padding: .1em;
	border: 1px solid #5386E4;
	background-color: #fff;
}

/*figure {
	float: left;
	margin: 1%;
	width: 31.33%;
}*/

figcaption {
	text-align: center;
	padding: .1em;
	font-family: "Josefin Sans", Georgia, serif;
	font-size: 1.2em;
	color: #37667b;
	font-weight: 600;
	margin: .25em;
}

img {
	width: 100%;
	max-width: 15em;
	display: block;
	margin: auto;
}

li img {
	width: .8em;
	float: left;
}

iframe {
	height: 96%;
	width: 96%;
	margin: 2%;
	vertical-align: center;
}

hr {
  width: 1em;
  border: none;
  height: .1em;
  background-color: black;
  margin: 0em 0em .2em;
  padding: 0em;
  display: block;
}

label {
  display: none;
  padding: 1em 0 1em 1em;
}

li {
  display: inline-block;
  margin: 0em 1em;
}

footer {
	text-align: center;
	font-family: "Raleway", serif;
	color: #323535;
	text-transform: uppercase;
	font-size: .9em;
}

.destination {
	float: left;
	margin: 1%;
	width: 31.33%;
}

.navlinks {
	font-family: "Raleway", serif;
	text-decoration: none;
	color: #323535;
	text-transform: uppercase;
	font-size: .9em;
}

.navigation-bar {
    width: 100%;
    height: 4em;
    background-color: #E5FFFA;
    /*border: 1px solid red;*/ /*testing tool*/
}

.navigation-bar > a {
    display: inline-block;
    vertical-align: top;
    margin-right: 1em;
	line-height: 3em;
    float: right;
    padding: .5em;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.continue {
	padding: .5em;
}

.continue:hover {
	color: #5386E4;
	padding: .1em;
}

#heroheader {
	position: absolute;
	top: 50%;
	text-align: center;
  	width: 100%;
	font-size: 5em;
 	transform: translate(0,-50%);  
}

#logolink {
	font-family: "Raleway", serif;
	text-decoration: none;
	color: #323535;
	text-transform: uppercase;
	font-size: 1.7em;
}

#logolink:hover {
	color: #5386E4;
	padding: .3em;

}

#leftlogo {
	float: left;
/*	border: 1px solid orange;
*/	display: inline-block;
	vertical-align: top;
	line-height: 2.75em;
	padding: .5em;
	margin: 0em 1em;
}

#rightmenu {
	float: right;
/*	border: 1px solid orange;
*/	display: inline-block;
	vertical-align: top;
	line-height: 4em;
}

#hero {
	background-image: url(../images/freeme.jpeg); 
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	height: 100vh;
	z-index: -1;
}

#bucketlist {
/*    background-color: #FFB7CF;*/ /*cancel out if testing*/
/*    border: 1px solid black;
*/    width: 100%;
}

#left {
/*    background-color: #E582A2;*/
 /*   border: 1px solid black;*/ /*cancel out if testing*/
	float: left;
    width: 63%;
    height: 20em;
    margin: 1%;
}

#right {
/*    background-color: #E55B88;*/
 /*   border: 1px solid black;*/ /*cancel out if testing*/
    float: right;
    width: 31%;
 	margin: 1%;
}

#legend {
	font-weight: 700;
}

#wrap {
	width: 100%;
	/*background-color: yellow;*/ /*cancel out if testing*/
}

#input {
	display: none;
}

#menu {
	display: block;
	list-style: none;
/*	padding:0 0 7px;
*/}

#about {
	width: 48%;
	margin: 1%;
	float: left;
}

#contact {
	width: 48%;
	margin: 1%;
	float: right;
}

#home a:hover {
	color: #5386E4;
}

@media only screen and (max-width:1180px){
	#wrap {
		width: 100%;
	}
}

@media only screen and (max-width:1090px){
	#wrap {
		width: 100%;
	}
}

@media only screen and (max-width:900px) {
  
	li {
		display: block;
	}
  
	label {
		display: block;
		padding: 34px;
	}

	.destination {
		width: 48%;
		margin: 1%;
	}

	#menu ul li {
		float: none;
	}

	#menu {
		display:none;

	}

	.navlinks {
		float: none;
		font-size: .7em;
	}

	#input:checked + #menu {
		display: block;
		background-color: #E5FFFA;
		height: 12em;
		opacity:0.7;
	}
  
	#leftlogo {
		margin: 0em;
	} 
  
	#logolink {
		font-size: 1.5em;
	}

	#heroheader {
		font-size: 2em;
	}
}

@media only screen and (max-width:860px){

	h1 {
		font-size: 1.5em;
	}
}

@media only screen and (max-width:600px){
	.destination {
		width: 90%;
		float: none;
		margin: 5% auto;
	}

	#left {
		float: none;
    	width: 90%;
    	height: 20em;
    	margin: 5%;
	}

	#right {
    	float: none;
    	width: 90%;
 		margin: 5%;
	}

	#about {
		width: 98%;
		margin: 2%;
		float: none;
	}

	#contact {
		width: 98%;
		margin: 2%;
		float: none;
	}	
}

@media only screen and (max-width:500px){
	h1 {
		font-size: 1.2em;
	}
}

@media only screen and (max-width:450px){
	label {
		padding: 1em;
	}

	.destination {
		width: 100%;
	}
}