@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,900,700);
@import url(https://fonts.googleapis.com/css?family=Cinzel:400,700,900);

body {
	color: #2A5EFF; 
	font-family: "Montserrat", serif;
	font-size: 16px;
}

header {
	padding: 1.5em;
	font-size: .9em;
}

nav {
	padding: 1.5em;
	float: right;
	background-color: white;
}

footer {
	background-color: #CFFFF4;
}

h1 {
	font-size: 2em;
	font-family: "Cinzel", Georgia, serif;
	font-weight: 700;
	background-color: #A9A8BB;
	padding: 1em;
	border: .25em solid #1BFAFF;
	margin: 1.5em auto 1.5em;
	text-align: center;
}

h2 {
	font-size: 3em;
	font-family: "Playfair Display", serif;
	text-align: left;
}

p {
	line-height: 1.5em;
	width: 37.5em;
	text-align: left;
}

ul {
	text-align: left;
	line-height: 1.5em;
}

.navlinks {
	color: #2A5EFF;
	font-size: .9em;	
	text-decoration: none;
	text-transform: uppercase;
	padding: 1em;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0px;
	content: " ";
	clear: both;
	height: 0;
}

.navlink:link {
}

.navlink:visited {
}

.navlink:hover {
}

.navlink:active {
}

.cities {
	width: 18.75em;
	display: inline-block;
	margin: 1.25em;
}

.footerlink {
	color: #2A5EFF;
	text-decoration: none;
}

#hero {
	background-image: url(../images/freeme.jpeg); 
	background-size: cover;
	background-repeat: no-repeat;
	padding: 18.75em;
	margin: 1em 0;

}

#mainlink {
	color: #1BFAFF;
	text-decoration: none;
}

#destinations {
	background-color: #CFFFF4;
}

#bucketlist {
	background-color: #CFFFF4;
}

#about {
	background-color: #CFFFF4;
}

#contact {
	background-color: ##CFFFF4;
}