@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,900,700);
@import url(https://fonts.googleapis.com/css?family=Cinzel:400,700,900);

body {
	color: #2A5EFF; 
	font-family: "Montserrat", serif;
	font-size: 16px;
}

main {
	background-image: url(../images/freeme.jpeg); 
	background-size: cover;
	background-repeat: no-repeat;
	padding: 18.75em;
	margin: 1.25em 0;
}

h1 {
	font-size: 2em;
	font-family: "Cinzel", Georgia, serif;
	font-weight: 700;
	background-color: #A9A8BB;
	padding: 1em;
	border: .25em solid #1BFAFF;
	margin: 1.5em auto 1.5em;
	text-align: center;
}

h2 {
	font-size: 3em;
	font-family: "Playfair Display", serif;
	text-align: left;
}

p {
	line-height: 1.5em;
	width: 37.5em;
	text-align: left;
}

ul {
	text-align: left;
	line-height: 1.5em;
}

nav {
	text-align: right;
}

div {

}

.navlinks {
	color: #2A5EFF;
	font-size: .8em;	
	text-decoration: none;
	text-transform: uppercase;
	padding: 1.5em;
}

.navlink:link {
}

.navlink:visited {
}

.navlink:hover {
	background-color: black;
}

.navlink:active {
}

.cities {
	width: 18.75em;
	display: inline-block;
	margin: 1.25em;
}

.footerlink {
	color: #2A5EFF;
	text-decoration: none;
}

#mainlink {
	color: #1BFAFF;
	text-decoration: none;
}

